<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: "Comic Sans MS";
    font-size: 14px;
    color: #000;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
  }
  img {
	  margin-top: 60px;
	  max-width: 25%;
  }

  @keyframes fade-in {
	  0% {
		  opacity: 0;
	  }
	  100% {
		  opacity: 1;
	  }
  }
  
  .fade-in {
	  animation: fade-in 2s linear 1s both;
  }
  
  p {
      font-weight: 900;
	  font-size: 800%;
	  font-family: 'Comic Sans MS';
	  animation: fade-in 2s linear 4s both;
  }
</style>

<div class="container">
  <img src="assets/bart.png" class="img img-fluid fade-in mx-auto d-block"/>
</div>
<div>
  <p class="text-center">{{ipAddress}}</p>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


