
<style>
  img {
	  margin-top: 10vh;
	  width: 20vw;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }

  @keyframes fade-in {
	  0% {
		  opacity: 0;
	  }
	  100% {
		  opacity: 1;
	  }
  }
  
  .fade-in {
	  animation: fade-in 2s linear 1s both;
  }
  
  p {
	  margin: auto;
	  color: #000;
	  text-align: center;
      font-weight: 900;
	  font-size: 9vw;
	  font-family: 'Comic Sans MS';
	  animation: fade-in 2s linear 4s both;
  }
</style>

<img src="assets/bart.png" class="img fade-in"/>
<p>{{ipAddress}}</p>

